*~
*.o
*.pyc
*.a
*.la
*.lai
*.so.*
*.so
*.Plo
/autom4te*
/config.log
/config.guess
/config.status
/config.sub
/depcomp
Makefile.in
Makefile
/install-sh
/libtool
/ltmain.sh
/missing
/aclocal.m4
/cpp/*.pb.*
/c/*pb-c*
/python/*_pb2*
.deps
.libs
*.lo
configure
/test/tar-test
/cpp/carsync-hu-proto-cpp.pc
