*.o
*.a
*.lo
*.la
.deps
.libs
.dirstamp
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
compile
install-sh
libtool
ltmain.sh
missing
stamp-h1
autom4te.cache
m4/*
dumm-config.h
dumm*
others*
others/genivi-dumm.service
Includes_dep.am
include/*-stub.h

